a {
  border-bottom: 1px solid #ddd;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: #222;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:hover {
    border-bottom-color: $primary-color;
    color: #000;
  }

}

h1 a {
  border-bottom: 0;
}
