.pagination {
  margin: 40px 0 0;
  text-align: center;
  clear: both;
}

.archive-pagination li {
  display: inline;
  margin-right: 4px;
  margin-bottom: 6px;
}

.archive-pagination a,
.archive-pagination li.active {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 3px 15px;
  border: 1px solid $secondary-color;
  border-radius: 1px;
  font-size: 14px;
  line-height: 1.8;
  text-transform: uppercase;
  color: $secondary-color;
  background-color: #fff;
  box-shadow: none;
  cursor: pointer;
  z-index: 1;
}

.archive-pagination li a:hover,
.archive-pagination li.active {
  background: rgba(119, 119, 119, .2);
}
