---
layout: default
---

<div class="home">

	<h1 class="page-heading">Posts</h1>

	<ul class="post-list">
		{% assign posts = site.posts | where: "lang", page.lang %}
		{% for post in posts limit: 3 %}
			<li>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
			</li>
		{% endfor %}
	</ul>

	{% assign lang = page.url | remove_first: "/" | split: "/" | first %}
	{% if lang == "es" %}
		{% assign lang_url = "/es" %}
	{% endif %}

	<p><a href="{{ lang_url }}/archive.html">Read More</a></p>
</div>
